{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'blog/main.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'blog/footer.css'%}" type="text/css">
    
    {%if title %}

    <title>TechFanatic - {{ title }}</title>
    {%else%}
    <title>TechFanatic</title>
    {%endif%}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home'%}">TechFanatic</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home'%}">Home</a>
              <a class="nav-item nav-link" href="{% url 'about'%}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {%if user.is_authenticated%}
              <a class="nav-item nav-link" href="{% url 'post-create'%}">New Post</a>
              <a class="nav-item nav-link" href="{% url 'profile'%}">Profile</a>
              <a class="nav-item nav-link" href="{% url 'logout'%}">Logout</a>
              {%else%}
              <a class="nav-item nav-link" href="{% url 'login'%}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register'%}">Register</a>
              {%endif%}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                  {{message}}
                </div>
              {%endfor %}
            {%endif%}
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <h3>Our Sidebar</h3>
              <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">Latest Posts</li>
                  <li class="list-group-item list-group-item-light">Announcements</li>
                  <li class="list-group-item list-group-item-light">Calendars</li>
                  <li class="list-group-item list-group-item-light">etc</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </main>
 <!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->

 <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">TechFanatic <i>Our goal is to make a one stop hub for all tech related news and developments with reliable sources and veriﬁed content.</i>We are looking to build a website which is going to have a simple user interface with all the information needed available at the user’s ﬁngertips.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            
            <ul class="footer-links">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Contribute</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="https://www.google.com/maps/place/Bengaluru,+Karnataka/@12.95396,77.4908529,11z/data=!3m1!4b1!4m5!3m4!1s0x3bae1670c9b44e6d:0xf8dfc3e8517e4fe0!8m2!3d12.9715987!4d77.5945627">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; | 2021 All Rights Reserved by 
         <a href="#">TechFanatic</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"><img class="facebook-img" src="media/facebook.png" ></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i><img src="media/twitter.png" class="twitter-img" ></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-dribbble"></i><img src="media/instagram.png" class="instagram-img"></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i><img src="media/linkedin.png" class="linkedin-img"></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>




 <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" >
      document.getElementById("id_q").value = "{{query}}"

    </script>
  </body>
</html>
